[submodule "KAF_Generation"]
	path = KAF_Generation
	url = https://github.com/PSGBOT/KAF-Generation
[submodule "SayPlan_Reconstruct"]
	path = SayPlan_Reconstruct
	url = https://github.com/PSGBOT/SayPlan_Reconstruct.git
[submodule "KAF_Net"]
	path = KAF_Net
	url = https://github.com/PSGBOT/KAF-Net.git
[submodule "pixtral_12B_Inference"]
	path = pixtral_12B_Inference
	url = https://github.com/PSGBOT/pixtral-12B-Inference.git
